<form method="POST" action="{{ page }}" name="bform" enctype="multipart/form-data">
    <tr class="adm-detail-required-field">
        <td width="40%">{{ local_mess.documents }}:</td>
        <td width="60%">
            <input type="text" name="LID" size="2" maxlength="2" value="">
		</td>
    </tr>
</form>