<?php
namespace Excel2sql\CreatedTables;

use Bitrix\Main;
use	Bitrix\Main\Localization\Loc;
use Bitrix\Main\ORM\Fields\IntegerField;
use Bitrix\Main\ORM\Fields\Relations\Reference;
use Bitrix\Main\ORM\Query\Join;
use Bitrix\Main\ORM\Fields\Relations\OneToMany;

Loc::loadMessages(__FILE__);

/**
 * Class {{ table_name }}Table
 *
 * Fields:
 * <ul>
    {{#fields}}
    * <li> {{ name }} string optional
    {{/fields}}
 * </ul>
 **/

    class {{ table_name }}Table extends Main\Entity\DataManager
    {
        /**
        * Returns DB table name for entity.
        *
        * @return string
        */
        public static function getTableName()
        {
            return '{{ table_name }}';
        }

        /**
        * Returns entity map definition.
        *
        * @return array
        */
        public static function getMap()
        {
            return array(
                {{#fields}}

                    '{{name}}' => array(
                        {{#primary}}
                        'primary' => true,
                        {{/primary}}
                        'data_type' => '{{type}}',
                        'title' => "{{name}}",
                    ),

                {{/fields}}

                {{#reference}}
                    (new Reference(
                        '{{one}}_{{many}}',
                        {{many}}Table::class,
                        Join::on('this.{{ reference_field }}', 'ref.ID')
                    ))
                ->configureJoinType('inner'),
                {{/reference}}

                {{#one_to_many}}
                    (new OneToMany('{{many}}_{{one}}', {{one}}Table::class, '{{one}}_{{many}}'))
                {{/one_to_many}}
            );
        }
     }
